In [73]:
import pandas as pd
from car_dataset.dataset import generate_dataset

In [75]:
generate_dataset(number_of_rows=100,
                 number_of_custom_outliers=2,
                 number_of_custom_nulls=3,
                 use_time_inaccuracy=False,
                 chance_of_drive_end=0.1)

,model,make,year,number_seats,weight_in_kg,price_in_euro,fuel_level_in_percent,ambient_light_level_in_lux,speed,acceleration
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
...,...,...,...,...,...,...,...,...,...,...
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5
0,E-Class,Mercedes-Benz,2013,5,1780,40207,0.985358,10000,0,0.5