In [40]:
import pandas as pd
import numpy as np
from car import Car, Environment

In [41]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [42]:
audi = Car(model="A7",
           make="Audi",
           year=2020,
           number_seats=5,
           weight_in_kg=1645,
           price_in_euro=72400,
           fuel_level_in_percent=0.7)

In [43]:
my_env = Environment(ambient_light_level_in_lux=10_000)

In [44]:
def create_row(car: Car, env: Environment) -> pd.DataFrame:
    row = pd.DataFrame([{
        "model": car.model,
        "make": car.make,
        "year": car.year,
        "number_seats": car.number_seats,
        "weight_in_kg": car.weight_in_kg,
        "price_in_euro": car.price_in_euro,
        
        "fuel_level_in_percent": car.fuel_level_in_percent,
        "ambient_light_level_in_lux": env.ambient_light_level_in_lux,

        "speed": car.speed,
        "acceleration": car.acceleration
    }])

    return row

In [45]:
output_df = pd.DataFrame()

row_0: pd.DataFrame = create_row(car=audi, env=my_env)

df_0 = pd.concat([output_df, row_0])

In [46]:
df_0

,model,make,year,number_seats,weight_in_kg,price_in_euro,fuel_level_in_percent,ambient_light_level_in_lux,speed,acceleration
0,A7,Audi,2020,5,1645,72400,0.7,10000,0,0

In [48]:
my_env.step(car=audi, next_acceleration=0.5)

In [49]:
row_1 = create_row(car=audi, env=my_env)

df_1 = pd.concat([df_0, row_1])

df_1

,model,make,year,number_seats,weight_in_kg,price_in_euro,fuel_level_in_percent,ambient_light_level_in_lux,speed,acceleration
0,A7,Audi,2020,5,1645,72400,0.7,10000,0,0.0
0,A7,Audi,2020,5,1645,72400,0.7,10000,0,0.5